*{
  margin: 0;
}
html,bod{
  font-size: 10px;
}
.app{
  background-color: #fafafa;
  width: 100%;
}
.app_headerImage{
  object-fit: contain;
  width: 15rem;
}

.app_header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 10px grey;
}

.modal_logo{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.modal_input{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.textfield{
  margin-top: 1rem!important;
}

.login_btn{
  margin-top: 2rem!important;
  padding: 0.5rem 1rem!important;
}

.logoutbtn{
  background-color: #fafafa!important;
}